@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.logo img {
    height: 80px;
    width: 80px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}


.header {
    border-bottom: 1px solid #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    top: 0;
    position: sticky;
    z-index: 999;
    margin-bottom: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in-out;
    background-color: rgb(203, 157, 39);
}

.hamburger #line {
    width: 14px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin-left: 3rem;

}

li i {
    font-size: 20px;
    transition: all .3s ease-in-out;
}


a {
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}


.navbar li a:hover,
.navbar li a.active,
.navbar li i:hover {
    color: rgb(203, 157, 39);
}

/**NAVBAR media query*/

@media only screen and (max-width:768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background: rgb(240, 226, 182);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: .3s ease-in;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }



    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo {
        text-align: center;
        justify-content: center;
        margin-left: 40px;
    }
    .about{
        margin: 0;
    }
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}
.image{
    width: 100%;
    margin: 0 2rem;
}
.image img{
    width: 80%;
    margin: 1rem ;
    border-radius: 10px;
}
.content{
    width: 50%;
    margin-right: 8rem;
}
.content p{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
@media only screen and (max-width:968px) {
    section{
        display: inline;
        width: 100%;
    }
    .content{
        width: 100%;
        
    }
}